.main .jumbotron {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}

.footer {
  height: 100px;
}

.footer .bg-prova {
  background-color: red;
}

